.home {
  margin-top: 80px;
  padding: 35px;
  background-color: #495e57;
}

.container.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.home-text {
  grid-column: 1;
  text-align: left;
}

.home-text h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  color: #f4ce14;
  margin-bottom: 0.1rem;
}

.home-text h2 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  height: 2.25rem;
}

.home-text p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 2rem;
}

.home-text .button-primary {
  display: inline-block;
  margin-top: 2rem;
}

.home-text .button-primary:hover,
.home-text .button-primary:focus {
  border-color: #f4ce14;
}

.home-image {
  grid-column: 2;
  width: 100%;
  height: 24rem;
  margin-bottom: -4rem;
  justify-self: end;
  border-radius: 1rem;
  object-fit: cover;
  max-width: 500px;
}

.dish-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 480px) {
  .home {
    margin-top: 60px;
  }

  .container.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home-text {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
  }

  .home-image {
    width: 95%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .home-text .button-primary {
    margin: 20px auto;
    text-align: center;
  }
}
