.dish-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  text-align: left;
  margin: 10px;
}

.dish-card:hover {
  transform: translateY(-5px);
}

.dish-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.dish-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.dish-header h3 {
  font-family: "Karla", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 16px; /* Dimensiunea categoriei */
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  text-transform: none; /* Dezactivează orice formatare automată */
}

.dish-header span {
  font-size: 1rem;
  color: #e76f51;
  font-weight: bold;
}

.dish-footer {
  padding: 20px;
  margin-top: auto;
}

.dish-footer p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
}

.dish-footer a {
  background-color: #f4ce14;
  color: #333;
  border: none;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.dish-footer a:hover {
  background-color: #e5b716;
}

@media (max-width: 480px) {
  .dish-card {
    max-width: 80%;
    margin: 10px auto;
    text-align: center;
  }

  .dish-footer p {
    font-size: 0.85rem;
    text-align: center;
  }

  .dish-footer a {
    padding: 10px 15px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
