.navbar {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  margin-left: -10px;
  white-space: nowrap;
}

.nav-item a:hover {
  color: #495e57;
}

/* Show hamburger icon on mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0rem;
    background-color: #333;
    width: 100%;
    height: 100vh;
  }

  .nav-list.open {
    display: flex;
    transform: translateX(0);
  }

  .nav-item a {
    color: #fff;
    font-size: 24px;
  }
}
