.testimonials-card {
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.testimonials-card:hover {
  transform: translateY(-5px);
}

.testimonials-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 0px;
}

.testimonials-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.testimonials-content {
  padding: 10px;
  text-align: center;
}

.testimonials-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-top: -10px;
}

.testimonials-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #f4ce14;
}

.rating-number {
  font-size: 1rem;
  color: #495e57;
  font-weight: bold;
}

.testimonials-says {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
}
